<?xml version="1.0" encoding="utf-8"?>   
<kit-config> 
  <!--  
    Server Information  
    # UDP search device. multicast address "228.0.0.8:2288" content "FMSD"
  --> 
  <msd-u enable="true" />
  <!--  
    Server Information  
    # Building LAN Communication  
      
    bind_port: TCP listening port  
    variable_flow_encrypt: encryption for data-switched traffic. effective LAN communication  
  -->  
  <server enable="true" bind_port="5998" flow_encrypt="false" />  
    
  <!--  
    Log directory   
    # Logging Operational Recording  
      
    save_days:  Document log retention days, more than days will automatically delete  
  -->  
  <log save_days="15"/>  
    
  <!--  
    DTRS Client  
    # Center Connection Address of Cloud Server  
      
    DPID: Communication Identification in Data Center  
  -->  
  <dtrs enable="true" host="iot.d.hx-kong.com" port="9004" DPID="519437a0ff1c13f5fd8216994ef5aae3"/>  
</kit-config>
