<?xml version="1.0" encoding="utf-8"?>

<debug value="加载collect.cfg , 我只是打印信息的调试节点,可以在任意位置" hidden="false"/>
<info>
	<collect>
		<!--
			interval 为最短连接触发时间,即帧间隔以单位:毫秒
			如果打开COM10以上端口请在COM前面添加\\.\  如 \\.\COM10
		-->
		<seriallist>
			<!--<serial source="usb1" port="COM2" baudrate="9600" interval="300"/>-->
		</seriallist>
		<!--
			中转的tcp数据
			host 是域名
			port 是监听端口
			recv_keep_alive 是保活时间,数值为0为不启用,单位是秒,功能是数据点在一定时间内没有收到数据,便重新连接到源,
                                            此作用检测防止TCP死连接的产生,程序内已经启用tcp的keep-alive功能,其keep-alive为系统默认时间2小时
		-->
		<tcplist>
			<!--<tcp source="tcp1" host="192.168.2.200" port="2323" recv_keep_alive="120" />-->
		</tcplist>
		<!--
			bind 是UDP本地绑定的端口
			-->
		<udplist>
			<udp source="udp1" bind="3323" host="127.0.0.1"  port="3324" />
		</udplist>
	</collect>
	<!-- 
      服务中转功能,基于MQTT的中转协议
      service.name 是所有硬件都不能重复的

      Qos:
      0=“至多一次”，消息发布完全依赖底层 TCP/IP网络。会发生消息丢失或重复。
                  这一级别可用于如下情况，环境传感器数据，
                  丢失一次读记录无所谓，因为不久后还会有第二次发送。
      1=“至少一次”，确保消息到达，但消息重复可能会发生。
      2=“只有一次”，确保消息到达一次。这一级别可用于如下情况，在计费系统中，消息重复或丢失会导致不正确的结果。

      subscribe 硬件接收消息的标志 , 不能包含#号
      topic 硬件发出数据的标志, 不能包含#号
	-->
	<mqtt_server host="127.0.0.1" port="1883" client_id="" user="" passwd="" >
		<service subscribe="ds0" publish="_ds0" collect_source="udp1" mqtt_qos="0" is_msd="true" msd_name="xc-udp1" msd_devflag="TestDev" />
		<!--<service subscribe="ds1" publish="_ds1" collect_source="tcp1" mqtt_qos="0" is_msd="true" msd_name="xc-tcp1" msd_devflag="TestDev"/>-->
		<!--<service subscribe="ds2" publish="_ds2" collect_source="usb1" mqtt_qos="0" is_msd="true" msd_name="xc-usb1" msd_devflag="TestDev" />-->
	</mqtt_server>
	<!--透传外部数据点-->
	<openlist>
		<open tcp_port="7000" collect_source="usb1">
			<allow ip="127.0.0.1"/>
		</open>
		<open tcp_port="7001" collect_source="udp1"/>
	</openlist>
</info>
