<?xml version="1.0"?>
<config>
	<project 	create_time="2019-4-3" version="v1" title="模版" description="这是一个系统控制例程"/>
	<mqtt_server_list>
	<!-- 
	 启用search_msd后,会自动订阅MSD设备对应的数据源
	-->
		<mqtt_server host="127.0.0.1" port="1883" client_id="" user="" passwd="" search_msd="true">
			<mqtt_data_source name="dev1" subscribe="_ds1" publish="ds1" mqtt_qos="0"/>
			<mqtt_msd_source name="dev_msd_kg1" devflag="JR1" devname="6661" mqtt_qos="0"/>
		</mqtt_server>
	</mqtt_server_list>
	
	<!--
	  子系统的控制
	-->
	<subsystem_list>
   <!--<subsystem name="xmapsys0" host="192.168.0.109" port="5998" username="admin" password="admin"/>-->
	</subsystem_list>
	
	<!--
	  http消息推送处理
	-->
	<push_notification>
		<push type="default" url="http://push.hx-kong.com/def.php"/>
	</push_notification>
	
	<!-- 
    控制场景
	-->
	<wall_list>
		<wall filename="wall-1.config" label="sence_test_1" description="场景测试文档1号"/>
	</wall_list>
	
	<!--
	  MSD设备控制的支持组件,使用lua脚本扩展控制功能
	-->
	<msd_depend>
    <msd_unit devflag="JR1" filename="JR1-v1.lua"/>
	</msd_depend>
</config>
