<?xml version="1.0" encoding="utf-8"?>
<data>
<debug value="加载wall1.config文件" hidden="false"/>
<collectlist>
	<collect name="AAAA"  data_source="dev1" analysis="protocol hx-net" />
</collectlist>
<wall>
	<!--事件整合器(cup)-->
	<cup name="cup1" title="基本场景控制" text="当前系统的场景">
		<command collect_name="AAAA" value="0x01_0x01_0x01"/>
		<delay ms="1000" />
		<command collect_name="AAAA" value="0x01_0x02_0x01"/>
		<delay ms="1000" />
		<command collect_name="AAAA" value="0x01_0x03_0x01"/>
	</cup>
	<cup name="cup2" title="MSD组件控制" text="即插即用组件的操作">
		<msd source_name="dev_msd_kg1" scene="开机"/>
	</cup>
</wall>
</data>
